@import "bootstrap/scss/bootstrap-grid";
@import "swiper/swiper";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules

font-family: ofelia-display,sans-serif;
font-weight: 400;
font-style: normal;

font-family: ofelia-display,sans-serif;
font-weight: 400;
font-style: italic;

font-family: didoni-urw,serif;
font-weight: 400;
font-style: normal;
// ==================================== */

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  font-size: 30px;
  z-index: 10;
  cursor: pointer;
}

.carousel-prev {
  left: 20px;
}

.carousel-next {
  right: 20px;
}

html {
  scroll-behavior: smooth;
  font-family: ofelia-display, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #19171c;
  text-align: left;
}

.nav-bg {
  background-color: #19171c7e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
}

@media (max-width: 426px) {
  .header-bg {
    height: 500px;
  }
}

.small-logo {
  max-width: 115px;
}

@media (max-width: 768px) {
  .small-logo {
    display: none;
  }
}

.nav-large {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: didoni-urw, serif;
  justify-content: space-between;
  z-index: 2;
  padding: 0;
}

@media (max-width: 768px) {
  .nav-large {
    display: none;
  }
}

a {
  text-decoration: none;
}

.underline-text:hover {
  border-bottom: solid 1px #fff;
  width: max-content;
  animation-name: underline;
  animation-duration: 1s;
}

.search-glass {
  float: right;
  width: 30px;
  margin-top: 3px;
}

.burger-menu {
  float: right;
  width: 30px;
  margin-top: 3px;
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}

h2 {
  font-family: didoni-urw, serif;
  font-size: 30px;
  color: #f4b92f;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.big-logo {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: 426px) {
  .big-logo {
    margin-top: 200px;
  }

  h2 {
    font-size: 25px;
  }

  main p {
    font-size: 15px;
  }
}

.small-logo {
  display: flex;
  justify-content: center;
}

.intro {
  margin: 157px 0 85px;
}

.intro::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: rgba(255, 255, 255, 0.487);
  transform: translate(50%, 0);
}

@media (max-width: 425px) {
  .intro {
    margin: 37px 0 50px;
  }
}

.line {
  padding-bottom: 65px;
}

p {
  padding-bottom: 15px;
}

.menu-cocktail {
  padding: 15px 0;
}

.button {
  font-size: 22px;
  text-align: center;
  padding: 18px 30px;
  border: #f4b92f solid 2px;
  border-radius: 10px;
  margin: 80px 0 130px;
  display: block;
  max-width: 300px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  transition-duration: 0.5s;
}

.button:hover {
  color: black;
  background-color: #f4b92f;
}

@media (max-width: 425px) {
  .button {
    margin: 46px 0;
    margin-left: 50%;
  }
}

@media (max-width: 991px) {
  .smog-cocktail {
    display: none;
  }
}

.cocktail-sign {
  box-shadow: 24px 27px 190px 0 rgba(0, 0, 0, 0.41), inset 0 1px 11px 0 #000000;
}

.main {
  background-color: #103233;
}

.main-title {
  padding: 100px 0 80px;
  margin: 0;
  text-align: center;
}

.box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cocktail-text {
  padding: 15px 0 0;
}

.cocktail-second-text {
  text-align: right;
  padding: 15px 0 0;
}

@media (max-width: 767px) {
  .cocktail-second-text {
    text-align: left;
  }
}

.first-cocktail {
  margin-bottom: 200px;
}

.second-cocktail {
  margin-bottom: 200px;
}

.third-cocktail {
  margin-bottom: 100px;
}

@media (max-width: 426px) {
  .first-cocktail {
    margin-bottom: 100px;
  }

  .second-cocktail {
    margin-bottom: 100px;
  }

  .third-cocktail {
    margin-bottom: 50px;
  }
}

.third-cocktail::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: rgba(255, 255, 255, 0.487);
  transform: translate(50%, 0);
  margin-top: 75px;
}

.playlist {
  padding: 40px 0 100px;
}

.page-second-content {
  background-image: url(../img/citation-picture.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width: 426px) {
  .page-second-content {
    height: 500px;
  }
}

.citation-bg {
  margin-top: 50%;
}

@media (min-width: 768px) {
  .citation-bg {
    margin-top: 40%;
  }
}

@media (min-width: 992px) {
  .citation-bg {
    margin-top: 30%;
  }
}

@media (min-width: 1400px) {
  .citation-bg {
    margin-top: 25%;
  }
}

.citation-text {
  font-family: DidoniURWD-Reg;
  font-size: 60px;
  color: #ffffff99;
  text-align: center;
  margin: 0;
  transition-duration: 0.5s;
}

.citation-text:hover {
  color: #ffffff;
}

@media (max-width: 991px) {
  .citation-text {
    font-size: 45px;
  }

  .citation-autor {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .citation-text {
    font-size: 30px;
  }

  .citation-autor {
    font-size: 12px;
  }
}

.citation-autor {
  font-family: OfeliaDisplay-Light;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
}

.footer-bg {
  padding: 120px 80px;
}

.horaire {
  text-align: center;
  padding: 0 5px;
  border-right: solid #979797 1px;
  border-left: solid #979797 1px;
}

@media (max-width: 767px) {
  .horaire {
    border: none;
  }

  .footer-logo {
    width: 160px;
    margin-left: 50%;
    padding: 120px 0 45px;
    transform: translate(-50%, 0);
  }

  .contact {
    margin-left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
  }

  .footer-bg {
    padding: 80px 0;
  }
}

.horaire-day {
  padding: 25px 0;
}

.adress {
  padding: 25px 0;
}

.outside-link {
  display: block;
}

.footer-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
