@import "bootstrap/scss/bootstrap-grid";
/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules

font-family: ofelia-display,sans-serif;
font-weight: 400;
font-style: normal;

font-family: ofelia-display,sans-serif;
font-weight: 400;
font-style: italic;

font-family: didoni-urw,serif;
font-weight: 400;
font-style: normal;
// ==================================== */

html {
  scroll-behavior: smooth;
  font-family: ofelia-display, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #19171c;
  text-align: justify;
}

.nav-bg {
  background-color: #19171c7e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
}

.header-bg {
  background-image: url(../img/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width: 426px) {
  .header-bg {
    height: 500px;
  }
}

.small-logo {
  max-width: 115px;
}

@media (max-width: 768px) {
  .small-logo {
    display: none;
  }
}

.nav-large {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: didoni-urw, serif;
  justify-content: space-between;
  z-index: 2;
  padding: 0;
}

@media (max-width: 768px) {
  .nav-large {
    display: none;
  }
}

.search-glass {
  float: right;
  width: 30px;
  margin-top: 3px;
}

.burger-menu {
  float: right;
  width: 30px;
  margin-top: 3px;
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}

h2 {
  font-family: didoni-urw, serif;
  font-size: 30px;
  color: #f4b92f;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.big-logo {
  margin-top: 250px;
}

@media (max-width: 426px) {
  .big-logo {
    margin-top: 200px;
  }
}

.small-logo {
  display: flex;
  justify-content: center;
}

.intro {
  margin: 157px 0 85px;
}

.intro::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: rgba(255, 255, 255, 0.487);
  transform: translate(50%, 0);
}

@media (max-width: 425px) {
  .intro {
    margin-top: 37px;
    padding-bottom: 21px;
  }
}

.line {
  padding-bottom: 65px;
}

p {
  padding-bottom: 15px;
}

.button {
  font-size: 22px;
  text-align: center;
  padding: 18px 30px;
  border: #f4b92f solid 2px;
  border-radius: 10px;
  margin: 80px 0 130px;
  display: block;
}

@media (max-width: 991px) {
  .red-cocktail {
    display: none;
  }
}

.main {
  background-color: #103233;
}

.main-title {
  padding: 100px 0 80px;
}

.box {
  position: relative;
}

.cocktail-text {
  position: absolute;
  top: 295;
  left: 0;
}

.cocktail-second-text {
  position: absolute;
  top: 270;
  right: 0;
  text-align: right;
}

.first-cocktail {
  margin-bottom: 200px;
}

.second-cocktail {
  margin-bottom: 200px;
}

.third-cocktail {
  margin-bottom: 100px;
}

.page-second-content {
  background-image: url(../img/citation-picture.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.citation-bg {
  margin: 290px 170px;
}

.citation-text {
  font-family: DidoniURWD-Reg;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.citation-autor {
  font-family: OfeliaDisplay-Light;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
}
